@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
  /* Custom Colors */
  --color-blue-50: #ecf3fe;
  --color-blue-100: #c4d9fc;
  --color-blue-200: #a8c7fa;
  --color-blue-300: #80aef8;
  --color-blue-400: #689ef7;
  --color-blue-500: #689ef7;
  --color-blue-600: #3c7adf;
  --color-blue-700: #2f5fae;
  --color-blue-800: #244a87;
  --color-blue-900: #1c3867;
  --color-black: #404040;
  --color-backgroud: #F6F9FF;
  
  /* Custom Fonts */
  --font-montserrat: "Montserrat", sans-serif;
}